@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Light.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Italic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Epilogue';
    src: url('../fonts/Epilogue-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}


/* fallback */
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}