.btn{
    color: #171717;
    padding: 10px 26px 7px 26px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
    text-align: center;
}
.btn-primary {
    border: 2px solid #7c7676;
    &:hover {
        color: #171717;
        border-color: #171717;
    }
}
.btn-secondary{
    color:#fff;
    background-color: #171717;
    font-weight: 700;
    border: 2px solid transparent;
    width: 150px;
    &:hover{
      background-color: #fff;
      color: #171717;
      border: 2px solid #171717;
    }
}


